// ============================================================
// ============================================================
// Base Styles
// ============================================================
// ============================================================


// Import Google Fonts
// ============================================================

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);



// Body
// ============================================================

html {
  @include tablet {
    font-size: 15px;
  }
  @include mobile {
    font-size: 14px;
  }
}

body {
  position: relative;
  font: 300 rem(16)/rem(26) $body-typeface;
  letter-spacing: 1px;
	color: $color-text;
}



// Headings
// ============================================================

%headings {
  font: bold 100%/1.25 $heading-typeface;
  letter-spacing: -1.5px;
  margin-top: rem(10);
  margin-bottom: rem(10);
}

h1, h2, h3, h4, h5, h6 {
  @extend %headings;
}

$heading-size: (
  h1: 48,
  h2: 30,
  h3: 24,
  h4: 20,
  h5: 18,
  h6: 14
);

@each $heading, $size in $heading-size {
  #{$heading} {
    font-size: rem($size);
  }
}



// Body Text
// ============================================================

p {
  // margin: 0 0 rem(20);
}
.lead {
  font-family: $heading-typeface;
  font-size: rem(12);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

small {
  font-size: rem(14);
  letter-spacing: 1px;
  color: rgba(51,51,51,0.7);
  text-transform: none;
}

a {
	font-weight: normal;
  color: $color-link;
  &:hover {
    color: darken($color-link, 15%);
  }
}

*:hover {
  @include transition(250ms);
}



// Helper Classes
// ============================================================

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.center-xs { // overriding flexboxgrid
  text-align: left;
}