// ============================================================
// ============================================================
// Base Styles
// ============================================================
// ============================================================


// Body
// ============================================================

html,
body {
  font: 300 rem(16)/rem(26) $body-typeface;
  letter-spacing: 1px;
	color: $color-text;
}



// Layout
// ============================================================

// Section Heights
.full-height {
  height: 100vh;
}

.medium-height {
  height: rem(640);
}

.small-height {
  height: rem(320);
}


// Wrappers
.wrapper {
  padding-top: $pad-md;
  padding-bottom: $pad-md;
}
.wrapper-sm {
  padding-top: $pad-sm;
  padding-bottom: $pad-sm;
}
.wrapper-lg {
  padding-top: $pad-lg;
  padding-bottom: $pad-lg;  
}



// Helper Classes
// ============================================================

.hide {
  display: none;
}

.text-center {
  text-align: center;
}