// ============================================================
// ============================================================
// ChumpChange Layout Styles
// ============================================================
// ============================================================


// Flexbox grid
// ============================================================

@import "../../bower_components/flexboxgrid/dist/flexboxgrid.css";



// Wrappers
// ============================================================

.wrapper {
	padding-top: $pad-md;
	padding-bottom: $pad-md;
}
.wrapper-sm {
	padding-top: $pad-sm;
	padding-bottom: $pad-sm;
}
.wrapper-lg {
	padding-top: $pad-lg;
	padding-bottom: $pad-lg;	
}



// Section Heights
// ============================================================

.full-height {
	height: 100vh;
}

.medium-height {
	height: rem(640);
}

.small-height {
	height: rem(320);
}



// Header & Navigation
// ============================================================

header {
	position: absolute;
	top: 0;
	right: 0;
	left:0;
	z-index: 2;
	padding: rem(10) rem(40);
	@include mobile {
		padding-right: rem(10);
		padding-left: rem(10);
	}
	.logo {
		position: relative;
		top: 5px;
		display: inline-block;
		height: 40px;
		width: 154px;
		background: url("../imgs/logo@3x.png") no-repeat;
		background-size: contain;
	}
}

nav {
	text-align: right;
	@include mobile {
		display: none;
	}
  ul {
  	list-style: none;
  	margin: 0;
  	@include mobile {
  		@include flex-direction(column);
  		@include justify-content(space-around);
  		padding: 0;
  	}
  }
  li {
		display: inline-block;
		@include mobile {
			display: block;
		}
	}
  a {
  	display: block;
  	margin-left: 50px;
  	text-decoration: none;
  	line-height: 50px;
  	@include mobile {
  		margin-left: 0;
  		text-align: center;
  	}
  }
}



// Hero
// ============================================================

.hero.align-center {
	> .row {
		height: 100%;
		> :first-child {
			@include align-self(center);
		}
	}
}



// Product Photos on Merchant Page
// ============================================================

.product-photos {
	.row > .col-xs-12 {
		padding: 0;
	}
	img {
		width: 100%;
	}
}



// Footer
// ============================================================

footer {
	text-align: center;
	a {
		display: block;
	}
}