// ============================================================
// ============================================================
// Theme Styles
// ============================================================
// ============================================================



// Header
// ============================================================

header {
	h1 {
		font-size: rem(16);
		font-weight: normal;
		letter-spacing: 0;
	}
}

nav a {
	font-family: $heading-typeface;
	font-size: 12px;
}



// Home 
// ============================================================

.home {
	position: relative;

	.hero {
		h1 {
			text-transform: capitalize;
			margin-bottom: $pad-sm;
		}
	}
}



// Footer
// ============================================================

footer {
	color: $light-gray;
	font-size: rem(12);
	font-style: italic;
}