// ============================================================
// ============================================================
// ChumpChange Theme Styles
// ============================================================
// ============================================================


body {
	// .invert-theme * h1,
	// .invert-theme * h2,
	// .invert-theme * h3,
	// .invert-theme * h4,
	// .invert-theme * p,
	// .invert-theme * small,
	.invert-theme * {
    color: white;
  }
}

.hero,
footer {
	background: $dark-green url('../imgs/bg-dark@3x.png') repeat;
	background-size: 50px 52px;
}



// Navigation
// ============================================================

nav {
	a {
		color: $white-70;
		font-weight: 300;
		&:hover {
			color: white;
		}
	}
	.active a {
		font-weight: normal;
		color: white;
		&:hover {
			color: white;
		}
	}
}



// Home 
// ============================================================

.home {
	position: relative;

	.hero {
		h1 {
			font-size: rem(60);
			text-transform: capitalize;
			margin-bottom: $pad-sm;
		}
		a {
			font-weight: 300;
			line-height: 20px;
			&:before {
				content: '';
				position: relative;
				top: 3px;
				display: inline-block;
				width: 18px;
				height: 20px;
				background: url('/app/imgs/icon-play@2x.png') no-repeat;
				background-size: 18px 20px;
				margin-right: 10px;
			}
		}
	}
	.claim-it {
		position: absolute;
		right: 0;
		bottom: $pad-sm;
		left: 0;
		p {
			color: white;
			margin: 0;
		}
		a:hover {
			color: $green;
			text-decoration: underline;
		}
	}
}



// Chump for Merchants
// ============================================================

.chump-for-merchants {
	h2 {
		text-transform: capitalize;
	}
	h3 {
		font-size: rem(18);
		font-weight: bold;
		letter-spacing: 1px;
	}
}

h2 {
	color: $green;
	margin-bottom: rem(40);
	&:after {
		content: '';
		display: block;
		width: 100px;
		height: 1px;
		background-color: $green;
		margin: rem(20) auto;
	}
}

.cost {
	.price {
		margin-bottom: $pad-md;
		h2 {
			color: $gray;
			font-size: rem(60);
			font-weight: normal;
			text-align: center;
			margin-bottom: 5px;
			&:after {
				display: none;
			}
		}
		p {
			margin: 0;
			color: $green;
			font-weight: normal;
			letter-spacing: 0.5px;
			text-align: center;
			text-transform: capitalize;
		}
	}
	.plus {
		display: block;
		font-weight: normal;
		@include mobile {
			margin: rem(40) 0;
		}
	}
	.features {
		ul {
			padding-left: 0;
			list-style-type: none;
		}
	}
}

.testimonial {
	background-color: $green;
	h2 {
		color: $dark-green;
		&:after {
			background-color: $dark-green;
		}
	}
	h3 small {
		font-weight: 300;
		color: $white-70;
	}
	blockquote {
		margin: $pad-md 0;
		font-style: italic;
	}
	.attribution {
		position: relative;
		padding-left: rem(80);
		p {
			margin: 0;
			line-height: 1;
		}
		small {
			color: $white-70;
		}
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: -5px;
			width: 60px;
			height: 60px;
			background-color: $dark-green;
			border-radius: 60px;
		}
	}
}


footer {
	background-color: $dark-green;
}