// ============================================================
// ============================================================
// Variables
// ============================================================
// ============================================================


// Typography
// ============================================================
$heading-typeface: "Montserrat", Verdana, sans-serif;
$body-typeface: "Helvetica Neue", "Helvetica", sans-serif;

$h1-size: rem(48);
$h2-size: rem(30);
$h3-size: rem(24);
$h4-size: rem(20);
$h5-size: rem(18);
$h6-size: rem(14);



// Colors
// ============================================================

$color-text: #333333;
$color-link: #425f9c;
$color-primary: blue;
$color-secondary: skyblue;
$color-danger: red;
$color-success: green;



// General Styles
// ============================================================

$radius: 6px;

$pad-sm: rem(20);
$pad-md: rem(40);
$pad-lg: rem(80);