// ============================================================
// ============================================================
// Variables
// ============================================================
// ============================================================


// Typefaces
// ============================================================
$heading-typeface: "Montserrat", Verdana, sans-serif;
$body-typeface: "Sorts Mills Goudy", Times, serif;



// Colors
// ============================================================

$gray: #333333;
$light-gray: rgba(51,51,51,0.4);
$green: #78c533;
$dark-green: darken($green, 10%);
$blue: #49bae4;
$dark-blue: darken($blue, 10%);
$white-70: rgba(255,255,255,0.7);
$white-40: rgba(255,255,255,0.4);



// Padding
// ============================================================

$pad-sm: rem(20);
$pad-md: rem(40);
$pad-lg: rem(80);



// General Styles
// ============================================================

// $radius: 6px;