// ============================================================
// ============================================================
// Header
// ============================================================
// ============================================================

header {
	// position: absolute;
	// top: 0;
	// right: 0;
	// left:0;
	// z-index: 2;
	padding: rem(10) rem(40);
	@include mobile {
		padding-right: rem(10);
		padding-left: rem(10);
	}
	h1 {
		font-size: rem(16);
		font-weight: normal;
		letter-spacing: 0;
	}
}

nav {
	text-align: right;
	@include mobile {
		display: none;
	}
  ul {
  	list-style: none;
  	margin: 0;
  	@include mobile {
  		@include flex-direction(column);
  		@include justify-content(space-around);
  		padding: 0;
  	}
  }
  li {
		display: inline-block;
		@include mobile {
			display: block;
		}
	}
  a {
  	display: block;
  	margin-left: 50px;
  	font-family: $heading-typeface;
		font-size: 12px;
  	line-height: 50px;
  	text-decoration: none;
  	@include mobile {
  		margin-left: 0;
  		text-align: center;
  	}
  }
}




// Home 
// ============================================================

.home {
	position: relative;

	.hero {
		h1 {
			text-transform: capitalize;
			margin-bottom: $pad-sm;
		}
	}
}




