// ============================================================
// ============================================================
// Variables
// ============================================================
// ============================================================


// Typefaces
// ============================================================
$heading-typeface: "Montserrat", Verdana, sans-serif;
$body-typeface: "Helvetica Neue", "Helvetica", sans-serif;



// Colors
// ============================================================

$color-text: #333333;
$color-link: #425f9c;
$color-primary: blue;
$color-secondary: skyblue;
$color-danger: red;
$color-success: green;



// Padding
// ============================================================

$pad-sm: rem(20);
$pad-md: rem(40);
$pad-lg: rem(80);



// General Styles
// ============================================================

// $radius: 6px;