<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Site Title</title>
		<meta name="description" content="Frontend Boilerplate to scaffold web applications">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Styles -->
		<link rel="stylesheet" href="app/css/style.css">
		<!-- /Styles -->


	</head>

	<body>
		<header role="header">
			<div class="row between-xs">

				<!-- Logo -->
				<div class="col-xs-12 col-sm-6">
					<div class="box">
						<h1>Site Title</h1>
					</div>
				</div>

				<!-- Navigation -->
				<div class="col-xs-12 col-sm-6">
					<div class="box">
						<nav role="navigation">
							<ul>
								<li class="active"><a href="">Nav Item</a></li>
								<li><a href="#">Nav Item</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
				
		<main role="main">
<%= contents %>
		</main>

		<footer role="footer">
			<div class="row center-xs">
				<div class="col-xs-12 col-sm-8 col-md-6">
					<div class="box wrapper-sm invert-theme">
						<p class="text-center">&copy; 2015 Company Name.</p>
					</div>
				</div>
			</div>
			
		</footer>

	  <!-- Scripts -->
	  <script src="app/lib.js"></script>
		<script src="app/app.js"></script>
		<!--/ Scripts -->    
		
	</body>
</html>