				<div class="home">
					<section class="hero full-height align-center invert-theme">
						<div class="row center-xs">
							<div class="col-xs-12 col-sm-8">
								<div class="box text-center">
									<h1>One loyalty to rule them all</h1>
									<a href="#">Watch how it works</a>
								</div>
							</div>
						</div>
					</section>
					<div class="claim-it text-center">
						<p>Have a Chump card?</p>
						<a href="#">Claim it and start earning free stuff!</a>
					</div>
				</div>